/* sets */
.css_library_field .css_library_body .css_library_sets {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

/* sets > set */
.css_library_field .css_library_body .css_library_sets .css_library_set {
  position: relative;
  width: 100%;
  height: 80px;
  margin-top: 5px;
}

/* sets > set > thumbnail */
.css_library_field .css_library_body .css_library_sets .css_library_set .css_library_set_thumbnail {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(80px - 10px * 2);
  height: calc(80px - 10px * 2);
  border-radius: var(--d-cssvar-border-radius-large);
  background: var(--d-cssvar-ffffff);
  color: var(--d-cssvar-000408);
  user-select: none;
  -webkit-user-select: none;
  font-size: 30px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css_library_field .css_library_body .css_library_sets .css_library_set .css_library_set_thumbnail img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

/* sets > set > name */
.css_library_field .css_library_body .css_library_sets .css_library_set .css_library_set_name {
  position: absolute;
  left: 80px;
  top: 0px;
  width: calc(100% - 80px - 10px);
  height: 30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--d-cssvar-000408);
  user-select: none;
  -webkit-user-select: none;
}