.css_library_field .css_library_body .css_library_title {
  position: relative;
  top: 7.5px;
  left: 7.5px;
  width: calc(100% - 7.5px * 2);
  height: 50px;
  font-size: 40px;
  font-weight: 700;
  color: var(--d-cssvar-000408);
  align-items: center;
}