.css_library_field .css_library_body .css_library_title {
  position: relative;
  top: 15px;
  left: 15px;
  width: calc(100% - 15px * 2);
  height: 60px;
  font-size: 40px;
  font-weight: 700;
  color: var(--d-cssvar-000408);
  align-items: center;
}