:root {
  --d-cssvar-fafafd: #fafafd;
  --d-cssvar-fafafd-r: 250;
  --d-cssvar-fafafd-g: 250;
  --d-cssvar-fafafd-b: 253;

  --d-cssvar-ffffff: #ffffff;
  --d-cssvar-ffffff-r: 255;
  --d-cssvar-ffffff-g: 255;
  --d-cssvar-ffffff-b: 255;

  --d-cssvar-000408: #000408;
  --d-cssvar-000408-r: 0;
  --d-cssvar-000408-g: 4;
  --d-cssvar-000408-b: 8;

  --d-cssvar-opacity-a: 1;
  --d-cssvar-opacity-b: 0.85;
  --d-cssvar-opacity-c: 0.7;
  --d-cssvar-opacity-d: 0.45;

  --d-cssvar-border-radius-large: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --d-cssvar-fafafd: #000005;
    --d-cssvar-fafafd-r: 0;
    --d-cssvar-fafafd-g: 0;
    --d-cssvar-fafafd-b: 5;

    --d-cssvar-ffffff: #0f0f11;
    --d-cssvar-ffffff-r: 15;
    --d-cssvar-ffffff-g: 15;
    --d-cssvar-ffffff-b: 17;

    --d-cssvar-000408: #ffffff;
    --d-cssvar-000408-r: 255;
    --d-cssvar-000408-g: 255;
    --d-cssvar-000408-b: 255;

    --d-cssvar-opacity-a: 1;
    --d-cssvar-opacity-b: 0.85;
    --d-cssvar-opacity-c: 0.7;
    --d-cssvar-opacity-d: 0.45;
  }
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}