:root {
  --d-cssvar-ffffff: #ffffff;
  --d-cssvar-ffffff-r: 255;
  --d-cssvar-ffffff-g: 255;
  --d-cssvar-ffffff-b: 255;

  --d-cssvar-f5f5f5: #f5f5f5;
  --d-cssvar-f5f5f5-r: 245;
  --d-cssvar-f5f5f5-g: 245;
  --d-cssvar-f5f5f5-b: 245;

  --d-cssvar-000000: #000000;
  --d-cssvar-000000-r: 0;
  --d-cssvar-000000-g: 0;
  --d-cssvar-000000-b: 0;

  --d-cssvar-opacity-a: 1;
  --d-cssvar-opacity-b: 0.8;
  --d-cssvar-opacity-c: 0.6;
  --d-cssvar-opacity-d: 0.45;
}

:root {
  --b-cssvar-safe-area-left: 0px;
  --b-cssvar-safe-area-right: 0px;
  --b-cssvar-safe-area-top: 0px;
  --b-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: constant(safe-area-inset-left);
    --b-cssvar-safe-area-right: constant(safe-area-inset-right);
    --b-cssvar-safe-area-top: constant(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --b-cssvar-safe-area-left: env(safe-area-inset-left);
    --b-cssvar-safe-area-right: env(safe-area-inset-right);
    --b-cssvar-safe-area-top: env(safe-area-inset-top);
    --b-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}