@property --d-draw-result-background {
  syntax: '<color>';
  inherits: true;
  initial-value: var(--d-cssvar-fafafd);
}

@property --d-draw-result-text {
  syntax: '<color>';
  inherits: true;
  initial-value: var(--d-cssvar-000408);
}

.css_draw_result_field {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--d-cssvar-fafafd);
  display: none;
}

.css_draw_result_field[displayed="true"] {
  display: block;
}