/* capsule */
.css_set_field .css_set_body .css_draw_from_set_capsule {
  position: relative;
  width: 120px;
  height: 45px;
  background: var(--d-cssvar-ffffff);
  border-radius: var(--d-cssvar-border-radius-large);
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

/* capsule > draw from set */
.css_set_field .css_set_body .css_draw_from_set_capsule .css_draw_from_set {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 75px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: var(--d-cssvar-000408);
  user-select: none;
  -webkit-user-select: none;
}

/* capsule > options */
.css_set_field .css_set_body .css_draw_from_set_capsule .css_draw_options {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
}

.css_set_field .css_set_body .css_draw_from_set_capsule .css_draw_options span.css_material_symbols_rounded {
  height: 20px;
  width: 20px;
  color: var(--d-cssvar-000408);
}

/* capsule > separator */
.css_set_field .css_set_body .css_draw_from_set_capsule .css_draw_from_set_capsule_separator {
  position: absolute;
  top: 3px;
  left: calc(75px - 1px / 2);
  width: 1px;
  height: 39px;
  background: var(--d-cssvar-ededf0);
  user-select: none;
  -webkit-user-select: none;
}