<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Drawlots</title>
    <meta name="description" content="Drawlots" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="defualt" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0f0f11" />
    <link rel="manifest" href="https://erichsia7.github.io/drawlots/manifest.json" />
    <link href="https://erichsia7.github.io/drawlots/icons/1024x1024.png" sizes="1024x1024" rel="apple-touch-icon" />
    <link type="image/x-icon" href="https://erichsia7.github.io/drawlots/icons/256x256.ico" rel="icon" />
    <link type="image/x-icon" href="https://erichsia7.github.io/drawlots/icons/256x256.ico" rel="bookmark" />
    <link type="image/x-icon" href="https://erichsia7.github.io/drawlots/icons/256x256.ico" rel="shortcut icon" />
    <!--
    <meta name="twitter:image:src" content="./open-graph-image.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Drawlots" />
    <meta name="twitter:description" content="Drawlots" />
    <meta property="og:image" content="./open-graph-image.png" />
    <meta property="og:image:alt" content="Drawlots" />
    <meta property="og:site_name" content="Drawlots" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="Drawlots" />
    <meta property="og:url" content="https://erichsia7.github.io/drawlots" />
    <meta property="og:description" content="Drawlots" />
    -->
    <!--apple touch startup images-->
    <!--apple touch startup images-->
    <meta name="version-hash" content="<%= process.env.HASH %>" />
    <meta name="version-full-hash" content="<%= process.env.FULL_HASH %>" />
    <meta name="version-branch-name" content="<%= process.env.BRANCH_NAME %>" />
    <meta name="version-time-stamp" content="<%= process.env.TIME_STAMP %>" />
  </head>
  <body>
    <!-- library -->
    <div class="css_library_field" displayed="true">
      <div class="css_library_body">
        <div class="css_library_sets"></div>
      </div>
      <div class="css_library_head">
        <div class="css_library_button_left" onclick="">
          <span class="css_material_symbols_rounded">page_info</span>
        </div>
        <div class="css_library_title">Drawlots</div>
        <div class="css_library_button_right" onclick="drawlots.sets.openSetCreator()">
          <span class="css_material_symbols_rounded">edit</span>
        </div>
      </div>
    </div>

    <!-- sets -->
    <div class="css_set_field" displayed="false">
      <div class="css_set_body">
        <div class="css_draw_from_set_capsule">
          <div class="css_draw_from_set" onclick="drawlots.drawResult.openDrawResult('')">Draw</div>
          <div class="css_draw_options">
            <span class="css_material_symbols_rounded">page_info</span>
          </div>
          <div class="css_draw_from_set_capsule_separator"></div>
        </div>
      </div>
      <div class="css_set_head">
        <div class="css_set_button_left" onclick="drawlots.sets.closeSet()">
          <span class="css_material_symbols_rounded">arrow_back</span>
        </div>
        <div class="css_set_title"></div>
        <div class="css_set_button_right" onclick="drawlots.sets.openSetEditor()">
          <span class="css_material_symbols_rounded">edit</span>
        </div>
      </div>
    </div>

    <div class="css_set_creator_field" displayed="false">
      <div class="css_set_creator_body">
        <div class="css_set_creator_groups">
          <div class="css_set_creator_group" group="set-name">
            <div class="css_set_creator_group_head">
              <div class="css_set_creator_group_icon">
                <span class="css_material_symbols_rounded">match_case</span>
              </div>
              <div class="css_set_creator_group_name">Set Name</div>
            </div>
            <div class="css_set_creator_group_body">
              <input type="text" placeholder="Name" />
            </div>
          </div>
        </div>
      </div>
      <div class="css_set_creator_head">
        <div class="css_set_creator_button_left" onclick="drawlots.sets.closeSetCreator()">
          <span class="css_material_symbols_rounded">arrow_back</span>
        </div>
        <div class="css_set_creator_title">Create Set</div>
        <div class="css_set_creator_button_right" onclick="drawlots.sets.createFormulatedSet()">
          <span class="css_material_symbols_rounded">check</span>
        </div>
      </div>
    </div>

    <div class="css_set_editor_field" displayed="false">
      <div class="css_set_editor_body"></div>
    </div>

    <div class="css_add_element_field" displayed="false">
      <div class="css_add_element_body"></div>
    </div>

    <div class="css_add_number_element_field" displayed="false">
      <div class="css_add_number_element_body"></div>
    </div>

    <div class="css_add_text_element_field" displayed="false">
      <div class="css_add_text_element_body"></div>
    </div>

    <div class="css_add_image_element_field" displayed="false">
      <div class="css_add_image_element_body"></div>
    </div>

    <!-- draw result -->
    <div class="css_draw_result_field" displayed="false">
      <div class="css_draw_result_body"></div>
      <div class="css_draw_result_head">
        <div class="css_draw_result_button_left" onclick="drawlots.drawResult.closeDrawResult()">
          <span class="css_material_symbols_rounded">arrow_back</span>
        </div>
        <div class="css_draw_result_title">Result</div>
        <!--
        <div class="css_draw_result_button_right" onclick="">
          <span class="css_material_symbols_rounded">check</span>
        </div>
        -->
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        drawlots.initialize();
      });
      window.addEventListener('load', function () {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('./service-worker.js');
        }
        drawlots.secondlyInitialize();
      });
    </script>
  </body>
</html>
